canvas {
    height: auto;
    width: min(500px, 100vw - 10px);
    background: white;
    position: relative;
    margin: 20px auto 0 auto;
    display: block;
    transform: rotateY(calc(180deg * var(--swap-state)));
    transition: 0.5s;
    z-index: calc(1 - var(--swap-state));
}

.table-offset-container {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 max((100% - 500px) / 2, 0px);
}

.table-container {
    width: min(500px, 100vw - 10px);
    height: min(500px, 100vw - 10px);
    position: absolute;
    top: max(-500px, -100vw + 10px);
    transform: rotateY(calc(180deg * (1 - var(--swap-state))));
    transition: 0.5s;
    z-index: var(--swap-state);
    background: white;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    display: none;
}

#dots-table {
    width: clamp(400px, 100vw - 10px, 500px);
    height: min(500px, 100vw - 10px);
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background: lightgrey;
}

thead {
    border: 1px solid black;
}

#dots-table td, #dots-table th {
    border: 1px solid transparent;
    min-width: 30px;
    padding-left: 5px;
}

#dots-table tr {
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
}

#dots-table tr:nth-child(2n) {
    background: #fffa322e;
}

#dots-table > tbody > tr > td:not(:last-child) {
    border-right: 1px solid #bdbdbd;
}

#dots-table > tbody > tr > td:first-child {
    height: 20px;
}

.points-info {
    margin: 20px auto;
    border-spacing: 0;
}

.points-info > tbody > tr > td {
    padding: 0;
}

th > .custom-select select {
    font-size: initial;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0 0 0 5px;
    border-radius: 0;
    background: transparent;
    font-weight: bold;
}

th > .custom-select select:focus {
    box-shadow: none;
}

th > .custom-select svg {
    stroke: #000000;
}