canvas {
    background: #fff6;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    height: auto;
    width: min(500px, 100vw - 10px);
    position: relative;
    margin: 20px;
    display: block;
}

.header{
    text-align: center;
}

.header.success{
    color: lime;
}

.header.fail{
    color: red;
}

.checker-page > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.check-result{
    color: #fff;
}

p{
    font-size: 20px;
}

input[type="button"]{
    font-size: 20px;
    background: #15ff0030;
    border: 1px solid #1dff0075;
    color: #00ff00c2;
    cursor: pointer;
    padding: 3px 6px;
}